html {
  font-size: 20px;
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 21.33333333px !important;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 22.08px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 25.6px !important;
  }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body,.page {
    width: 100%;
    height:100%;
    //overflow: hidden;
}
section {
    min-width: 320px;
    text-align: center;
}
.p-title {
    padding-top: 4rem;
    margin-bottom: 1rem;
}
.p-title h1 {
    font-family: 'Pattaya', sans-serif;
    font-size: 2rem;
}
.p-menu {
    margin: 2rem 0 1rem;
}

.p-menu input {
    display: none;
}
.p-menu label {
    display: inline-block;
    padding: .4rem;
    font-size: .8rem;
}
.p-menu label:before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .4rem;
    border-radius: 50%;
    vertical-align: middle;
}
.p-menu input#radio1 + label:before {
    background-color: #aa3939;
}
.p-menu input#radio2 + label:before {
    background-color: #2C8437;
}
.p-menu input#radio3 + label:before {
    background-color: #aaa939;
}
.p-menu input#radio1:checked + label:before {
    box-shadow: 0 0 2px 1px #f00;
    background-color: #f00;
}
.p-menu input#radio2:checked + label:before {
    box-shadow: 0 0 2px 1px #0f0;
    background-color: #0f0;
}
.p-menu input#radio3:checked + label:before {
    box-shadow: 0 0 2px 1px #ff0;
    background-color: #ff0;
}
#g-text {
    width: 80%;
    max-width: 490px;
    margin: 0 auto;
}
#g-text input {
    width: 65%;
    //min-width: 140px;
    //max-width: 360px;
    height: 2rem;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d1f3fa;
    font-size: 1rem;
    color: #d1f3fa;
    letter-spacing: 1px;
}
#g-text input:focus {
    outline: none;
    border-color: #30C9D2;
}
#g-text button {
    width: 25%;
    //max-width: 80px;
    height: 2rem;
    margin-left: 5%;
    border: none;
    border-radius: 4px;
    //box-shadow: 0 2px 0 1px #30C900;
    vertical-align: bottom;
    background: #30C9D2;
    color: #fff;
    font-size: 20px;
}
#g-text button:focus {
    border: none;
    outline: none;
}
#g-text + p {
    width: 80%;
    max-width: 490px;
    height: 3rem;
    margin: 3rem auto 0;
    border-radius: 4px;
    border: 1px solid #d1f3fa;
    line-height: 3rem;
    font-size: 18px;
    background: #d1f3fa;
    color: #30C9D2;
    cursor: not-allowed;
}
